name: Deploy Plugin

on:
  release:
    types: [published]

jobs:

  release:
    name: Deploy WordPress.org
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://github.com/tarosky/taro-sitemap/releases
    steps:
      - name: Checkout code
        uses: actions/checkout@main

      - name: Setup PHP with composer v2
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
          tools: composer

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Build Plugin
        run: bash bin/build.sh ${{ github.event.release.tag_name }}

      - name: Zip Archive
        run: |
          mkdir ${{ github.event.repository.name }}
          rsync -av --exclude=${{ github.event.repository.name }} --exclude-from=.distignore ./ ./${{ github.event.repository.name }}/
          zip -r ./${{ github.event.repository.name }}.zip ./${{ github.event.repository.name }}

      - name: Upload release asset
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ github.event.repository.name }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
